@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.base {
    display: flex;
    align-content: space-between;
}
/*div: Lado Verde*/
#LadoVerde {
    display: flex;
    flex-direction: column;
    background-color: #17D4B3;
    max-height: 100vh;
    max-width: 25vw;
    height: 100vw;
    width: 25vw;
    text-align: center;
    
}

/*imagem > botão voltar*/
#BotãoVoltar {
    height: 4vh;
    padding-right: 14vw;
    padding-top: 3vh;
}

/*imagem > logo*/
#Logo {
    width: 13vw;
    align-self: center;
    padding-top: 15vh;
}

/*div: Interativo*/
#Interativo { 
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 71px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
    
.icon{
    margin: 15px;
    padding: 10px;
   
}

a{
    color: rgba(23, 212, 179, 1);
}

h1{
    color: rgba(23, 212, 179, 1);
    font-size: 38px;
}

.entrar{
    color: aliceblue;
    background-color: #00608E;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 16px;
  width: 50%;

}

