@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.base {
    display: flex;
    align-content: space-between;
}
/*div: Lado Verde*/
#LadoVerde {
    display: flex;
    flex-direction: column;
    background-color: #17D4B3;
    max-height: 100vh;
    max-width: 25vw;
    height: 100vw;
    width: 25vw;
    text-align: center;
    
}

/*imagem > botão voltar*/
#BotãoVoltar {
    height: 4vh;
    padding-right: 14vw;
    padding-top: 3vh;
}

/*imagem > logo*/
#Logo {
    width: 13vw;
    align-self: center;
    padding-top: 15vh;
}

/*div: Interativo*/
#Interativo {
    background-color: #fff;
    width: 75vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;      
    display: block;
    margin: 250px;
    
}
    
.icon{
    margin: 11px;
    padding: 5px;
   
}

